* {
  margin: 0;
  padding: 0;
}
:root {
  --info: #0377bb;
  --success: green;
  --warning: yellow;
  --danger: red;
  --bg: grey;
  --nav: #da114d;
}
body {
  font-family: 'Courier New', Courier, monospace;
}

div.nav {
  background-color: var(--nav);
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 1rem;
}
.link {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--warning);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
}

/* .dropdown > .link:focus, */
.dropdown.active > .link,
.link:hover {
  color: black;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: var(--nav);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
/* .dropdown > .link:focus + .dropdown-menu { */
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
}
.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-login > input {
  margin-bottom: 0.5rem;
}
